<style>
footer {
  background-color:#15171f;
  height: 30px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
</style>

<footer class="footer2">
  <small>
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>
